.informationLine_receipts {
  border: 1px solid black;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin-top: 50px;

  .informationLine_h2 {
    font-family: "Courier New", Courier, monospace;
  }

  .informationLine_product_receipts {
    display: flex;
    height: 100%;
    margin-top: 30px;

    img {
      width: 100px;
      height: 100px;
    }

    .informationLine_text {
      margin-left: 30px;

      h4 {
        color: green;
        font-weight: bold;
      }

      p {
        color: red;
        font-weight: bold;
      }
    }
  }

  .informationLine_total {
    margin-top: 20px;
    border-top: 2px solid green;
    display: flex;
    height: 100%;

    h3 {
      margin-top: 20px;
      font-weight: bold;
    }

    span {
      margin-top: 20px;
      margin-left: 250px;
      color: red;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .informationLine_Continue {
    margin-top: 20px;
    border-top: 2px solid green;
    height: 100%;

    button {
      margin-left: 600px;
      margin-top: 20px;
      width: 200px;
      height: 40px;
      cursor: pointer;
      color: rgb(236, 229, 229);
      font-size: 20px;
      line-height: 16px;
      padding: 9px;
      border-radius: 10px;
      font-family: Georgia, serif;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      background-image: linear-gradient(
        to right,
        rgb(44, 35, 43) 0%,
        rgb(44, 39, 46) 54%,
        rgb(22, 10, 14) 100%
      );
    }
  }
}

.tableContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
